table,th,td{
    border: 1px solid green;
    border-collapse:collapse ;
}
table{
    width: 100%;
}
input[type=text],input[type=password]{
    width: 90%;
    margin: 8px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 3px;
    background-color: darkgray;
    color: whitesmoke;
}
label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    color: darkblue;
}
th p{
    font-size: x-large;
    font-family: monospace;
    font-variant: small-caps;
    text-align: center;
}
input[type=button]{
font-size: large;
font-weight: bolder;
background-color: darkcyan;
color: wheat;
}