.a1{
color:red;
text-shadow:3px 2px blue;
text-align: center;    
}
.a2{
    box-shadow: 2px 3px 4px 5px darkcyan;
    text-align: center;
    color: indigo;
    width: 300px;
    height: 100%;
    margin-left: 20%;
}