.a1{
    background-color:red;
    
}

.a2{
    color:darkblue;
    

}
.a3{
    color:purple;
    font-style: oblique;
    font-variant: inherit;
    text-align: center;
    text-transform: initial;
    targe

}